
   <div class="carousel">
	<div class="slides-container">
		<ul class="slides">
			<li class="slide" *ngFor="let slide of visibleSlides; let i = index;" 
			[@slideState]="getAnimationSlideState(i)" 
			(@slideState.start)="animationStarted($event)"
			(@slideState.done)="animationDone($event)">
				<ng-container *ngTemplateOutlet="slideTemplateRef; context: { $implicit: slide }"></ng-container>
			</li>
		</ul>
	</div>

	<div class="navigations">
		<div>
		  <ol class="thumbnails" *ngIf="slides.length > 1 && isThumbnailsVisible">
			<button type="button" (click)="prevPreviewSet()" *ngIf="slides.length > 5">
			  <span>&lt;</span>
			</button>
			<li *ngFor="let slide of visibleSlides; let i = index;" [class.is-active]="i === activeSlides.current" (click)="select(i)">
			  <ng-container *ngTemplateOutlet="thumbnailTemplateRef; context: { $implicit: slide }"></ng-container>
			</li>
			<button type="button" (click)="nextPreviewSet()" *ngIf="slides.length > 5">
			  <span>&gt;</span>
			</button>
		  </ol>
		</div>
	  </div>

	
</div>